# Database
DATABASE_URL=postgresql://postgres:admin123@localhost:5432/ac_logistics_db

# App
APP_NAME="American Computers Supply Chain API"
APP_VERSION="1.0.0"
DEBUG=True
SECRET_KEY=your-secret-key-here

# ML Models
MODEL_DIR=app/ml/trained_models

# CORS — set to your frontend URL in production
ALLOWED_ORIGINS=["http://localhost:3000","http://localhost:8080"]


RESEND_API_KEY=re_caWWU9pA_GmbzVkx8jUAzoCiiNTYZXpz6
RESEND_FROM_EMAIL=onboarding@resend.dev
FRONTEND_URL=http://localhost:3000