fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
httpx
python-multipart
statsmodels
scikit-learn
numpy
pandas
joblib
resend
